* {
    margin: 0;
    padding: 0;
    color: rgb(216, 216, 216);
}
/* Custom scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(167, 167, 167); 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(253, 253, 153); 
    border-radius: 10px;
    transition: ease-in-out 1s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background-color: rgb(216, 216, 216);
}

@font-face {
    font-family: "Aharoni";
    src: url(fonts/ahronbd.ttf);
}

@keyframes fade-in {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

body {
    background-color: rgb(32,31,37);
}

.project-title {
    font-family: Aharoni, sans-serif;
    text-align: left;
    color: rgb(216, 216, 216);
    font-size: 450%;
    margin-left: 3%;
    margin-top: 3%;
}

.project-title a {
    text-decoration: none;
}

.log-out {
    position: absolute;
    right: 5%;
    top: 5%;
    text-decoration: none;
    font-family: Aharoni, sans-serif;
    border-radius: 12px;
    transition: ease-in-out 0.3s;
    padding: 5px;
}

.log-out:hover {
    background-color: rgb(216, 216, 216);
    color: rgb(32,31,37);
    transform: scale(1.1);
}

.centered-button {
    position: absolute;
    color: rgb(167, 167, 167);
    top: 41%;
    width: 99%;
    text-align: center;
    margin: auto;
    animation: fade-in 1s;
}

.centered-button button {
    font-family: Aharoni, sans-serif;
    text-decoration: none;
    color: rgb(216, 216, 216);
    background-color: rgb(32,31,37);
    border: 0px;
    font-size: 250%;
    padding: 0.75% 1.5% 0.75% 1.5%;
    border-radius: 15px;
    transition: ease-out 0.3s;
}

.centered-button button:hover {
    background-color: rgb(253, 253, 153);
    color: rgb(32,31,37);
    transform: scale(1.1);
}

footer {
    position: absolute;
    color: rgb(167, 167, 167);
    bottom: 1%;
    width: 100%;
    text-align: center;
    margin: auto;
}

.form-div {
    width: 25%;
    height: 30%;
    /* background-color: rgb(32,31,37); */
    position: absolute; /*Can also be `fixed`*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    color: rgb(216, 216, 216);
    font-family: Aharoni, sans-serif;
    font-size: 22px;
    animation: fade-in 1s;
}

.form-div input {
    color: rgb(32,31,37);
    margin-bottom: 0;
}

.help-text {
    /* In the html file directly.. */
    font-family: sans-serif;
}

.signUpTitle {
    height:30%
}

.form-div input {
    width: 96%;
    padding: 2%;
    margin: 1.5% 0 5% 0;
    border: 0px;
    border-radius: 8px;
    font-size: 18px;
}

.buttons-div {
    float: right;
}

.sign-in-button {
    font-family: Aharoni, sans-serif;
    text-decoration: none;
    color: rgb(216, 216, 216);
    background-color: rgb(32,31,37);
    border: 0px;
    font-size: 18px;
    border-radius: 15px;
    padding: 5px 5px 5px 5px;
    transition: ease-out 0.3s;
    margin-left: 20px;
    margin-right: 0px;
}

.sign-in-button:hover {
    background-color: rgb(216, 216, 216);
    color: rgb(32,31,37);
    transform: scale(1.1);
}

.sign-up-button {
    font-family: Aharoni, sans-serif;
    text-decoration: none;
    color: rgb(216, 216, 216);
    background-color: rgb(32,31,37);
    border: 0px;
    font-size: 18px;
    border-radius: 15px;
    padding: 5px 5px 5px 5px;
    transition: ease-out 0.3s;
    margin-left: 20px;
    margin-right: 0px;
}

.sign-up-button:hover {
    background-color: rgb(253, 253, 153);
    color: rgb(32,31,37);
    transform: scale(1.1);
}

.main-page-title {
    font-family: Aharoni, sans-serif;
    text-align: left;
    color: rgb(216, 216, 216);
    font-size: 350%;
    margin: 1.5%;
    animation: title-animation 1s;
}

@keyframes title-animation {
    0% {
        font-size: 450%;
        margin-left: 3%;
        margin-top: 3%;
    }

    100% {
        font-size: 350%;
        margin: 1.5%;
    }
}

.main-page-title a {
    text-decoration: none;
}

li {
    list-style-type: none;
    width: 100%;
}

.Messages-title, .Room-title{
    font-family: Aharoni, sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgb(253, 253, 153);
}

.Messages-title {
    padding-right: 14%;
}

.messages-list {
    width: 60%;
    height: 70%;
    padding-right: 7%;
    /* float: right; */
    text-align: left;
    position: absolute;
    bottom: 15%;
    right: 0%;
    animation: fade-in 1s;
    /* background-color: red; */
}

.messages-list nav {
    padding-left: 3%;
    margin-top: 3.6%;
    height: 100%;
    border-left: 3px solid rgb(253, 253, 153);
    border-radius: 1.5%;
}

.user {
    color: rgb(253, 253, 153);
    font-family: Aharoni, sans-serif;
    margin-top: 1%;
}

.message {
    font-family: sans-serif;
    color: rgb(216, 216, 216);
    border-bottom: 1px solid;
    border-image:linear-gradient(90deg, rgba(167,167,167,0) 0%, rgba(167,167,167,0.5) 50%, rgba(167,167,167,0) 100%) 1;
}

.date {
    font-family: sans-serif;
    text-align: right;
    font-size: 14px;
}

.message-box {
    width: 85%;
}

.messages-list ul{
    align-items: baseline;
}

.messages-list nav {
    overflow-y: auto;
}

.Room-name {
    border-left: 3px solid rgb(216, 216, 216);
    border-right: 3px solid rgb(216, 216, 216);
    border-radius: 7px;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 2%;
    margin: 3% 0 3% 0;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.Room-name:hover {
    color: rgb(32,31,37);
    border: 3px solid rgb(253, 253, 153);
    background-color: rgb(253, 253, 153);
    transform: scale(1.05);
    margin-bottom: 0;
}

.Room-list {
    width: 20%;
    padding-left: 10%;
    float: left;
    animation: fade-in 1s;
    /* background-color: red; */
}

.add-room-button {
    font-family: Aharoni, sans-serif;
    font-size: 40px;
    color: rgb(32,31,37);
    background-color: rgb(216, 216, 216);
    padding: 1;
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 100%;
    position: fixed;
    left: 28.35%;
    bottom: 10%;
    animation: fade-in 1s;
    transition: ease-in-out 0.2s;
}

.add-room-button:hover {
    border-radius: 20px;
    color: rgb(32,31,37);
    background-color: rgb(253, 253, 153);
    /* transform: scale(1.2); */
}

.messages-list input {
    width: 70%;
    font-size: 15px;
    padding: 1%;
    margin: 4% 0 0 4%;
    border: 0;
    border-radius: 15px;
    background-color: white;
    color: rgb(32,31,37);
    transition: ease-in-out 0.2s;
}

.send-button {
    vertical-align: bottom;
    height: 35px;
    width: 60px;
    border: 0;
    border-radius: 16px;
    background-color: white;
    background-image: url("img/send.png");
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
    transition: ease-in-out 0.2s;
}

.send-button:hover {
    background-color: rgb(253, 253, 153);
    /* transform: scale(1.04) */
    border-radius: 10px;
}