<!doctype html>
{% load static %}
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Chat Room</title>
    {% block styles %}
        <link rel="stylesheet" href="{% static 'chatRoom/style.css' %}" />
    {% endblock %}
    {% block js %}
    <!-- JS for bootstrap -->
    <script src="{% static 'chatRoom/bootstrap.min.js' %}"></script>
    <!-- Jquery -->
    <script src="{% static 'chatRoom/js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'chatRoom/js/chatRoom.js' %}"></script>
	{% endblock %}

  </head>

<body>
    <section>
        {% block content %} {% endblock %}
    </section>

    <footer>
        <div>
            <p>Créé par Marc Proux, Lucas Dehe et Geryes Doumit - janvier 2023</p>
        </div>
    </footer>