<!doctype html>
{% load static %}
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Chat Room</title>
    {% block styles %}
        <link rel="stylesheet" href="{% static 'chatRoom/style.css' %}" />
    {% endblock %}

  </head>

<body>
    <header>
        <h1 class="project-title">Chat Room</h1>
    </header>

    <form>
        <div class="centered-button">
            <button formaction="login.html">Commencer</button>
        </div>
    </form>

    <footer>
        <div>
            <p>Créé par Marc Proux, Lucas Dehe et Geryes Doumit - janvier 2023</p>
        </div>
    </footer>
</body>

</html>