<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Chat Room</title>
    <link rel="stylesheet" href="style.css" />

  </head>

<body>
    <header>
        <h1 class="project-title">Chat Room</h1>
    </header>

    <form action="js/traitement.js">
        <div class="form-div">
            <label for="username">Nom d'utilisateur</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Mot de passe</label><br>
            <input type="password" id="password" name="password">

            <div class="buttons-div">
                <button class="sign-up-button">S'inscrire</button>
                <button class="sign-in-button">Se connecter</button>
            </div>

        </div>
    </form>

    <footer>
        <div>
            <p>Créé par Marc Proux, Lucas Dehe et Geryes Doumit - janvier 2023</p>
        </div>
    </footer>
</body>

</html>