{% extends "chatRoom/baseLayout.html" %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="form-div">
            <label for="id_username">Username:</label>
            <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
            <label for="id_password">Password:</label>
            <input type="password" name="password" autocomplete="current-password" required="" id="id_password">
            {% for message in messages %}
                 <div class="alert alert-success">
                    <a class="close" href="#" data-dismiss="alert">{{ message }}</a>
                </div>
            {% endfor %}
            <div class="buttons-div">
                <button class="sign-up-button" onclick="window.location.href='/signup';">S'inscrire</button>
                <button class="sign-in-button" type="submit">Se connecter</button>
            </div>
        </div>
    </form>
{% endblock %} 