{% extends "chatRoom/baseLayout.html" %}
{% block content %}
    <header>
        <h1 class="project-title"><a href="{% url 'index' %}">Chat Room</a></h1>
    </header>
    <div>
        <form method="post">
            {% csrf_token %}
            <div class="form-div">
                <label for="id_username">Nom d'utilisateur:</label>
                <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username" style="font-family: sans-serif; margin-bottom: 5%;">
                <label for="id_password">Mot de passe:</label>
                <input type="password" name="password" autocomplete="current-password" required="" id="id_password" style="font-family: sans-serif; margin-bottom: 5%;">
                {% for message in messages %}
                    <div class="alert alert-success">
                        <a class="close" href="#" data-dismiss="alert" style="text-decoration: none; font-size: small; font-family: sans-serif; color: red;">{{ message }}</a>
                    </div>
                {% endfor %}
                <div class="buttons-div">
                    <button class="sign-in-button" type="submit">Se connecter</button>
                </div>
                <div>
                    <p></p>
                    <br>
                    <br>
                    <br>
                    <p class="sign-up-text">Pas de compte ? Pensez à vous<button class="sign-up-button" style="margin-left: 5px; width: fit-content;" onclick="window.location.href='/signup';">inscrire</button></p>
                </div>
            </div>
        </form>
    </div>
{% endblock %} 