{% extends "chatRoom/baseLayout.html" %}
{% block content %}
{% if user.is_authenticated %}
    <!-- Hi {{ user.username }}! -->
    <header>
        <h1 class="main-page-title"><a href="{% url 'index' %}">Chat Room</a></h1>
        <a class="log-out" href="{% url 'logout' %}">Deconnexion</a>
    </header>
    <p class="Room-title">Salons de discussion</p>
    <aside class="Room-list">
        <nav>
            <ul>
                {% for room in room_list %}
                    <li class="Room-name"><a href="{% url 'room' room.id %}">{{ room.name }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </aside>
    <p class="Messages-title">Messages du Salon</p>
    <section class="messages-list">
        <nav>
            <ul class="message-box">
                {% for message in messages_in_room %}
                    <li class="user">{{ message.user }}</li>
                    <li class="message">{{ message.message }}</li>
                    <li class="date">{{ message.date }}</li>
                {% endfor %}
                <br class="space">
                <br class="space">
            </ul>
        </nav>
    </section>
    <section class="fixed-buttons">
        <button class="add-room-button" title="Créer un salon de discussion"></button>
        <div>
            <input type="text" placeholder="Votre message..." name="message-text-field" id="msg-txt-field" maxlength="500">
            <button class="send-button" title="Envoyer le message"> </button>
        </div>
    </section>
    <section class="add-room-form">
        <form method="POST" id="add-room-form">
            {% csrf_token %}
            <input type="text" name="room-name" placeholder="Nom du salon" maxlength="50">
            <button type="submit">Créer</button>
        </form>
    </section>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}