{% extends "chatRoom/baseLayout.html" %}
{% load static %}
{% block content %}
    <!-- JS for bootstrap -->
    <script src="{% static 'chatRoom/bootstrap.min.js' %}"></script>
    <!-- Jquery -->
    <script src="{% static 'chatRoom/js/jquery.js' %}"></script>
    <script src="{% static 'chatRoom/js/chatRoom.js' %}"></script>
{% if user.is_authenticated %}
    <!-- Hi {{ user.username }}! -->
    <header>
        <input type="hidden" id="room_id" name="room_id" value="{{ current_room.id }}">
        <h1 class="main-page-title"><a href="{% url 'index' %}">Chat Room</a></h1>
        <a class="log-out" href="{% url 'logout' %}">Deconnexion</a>
    </header>
    <p class="Room-title">Salons de discussion</p>
    <aside class="Room-list">
        <nav>
            <ul>
                {% for room in room_list %}
                    {% if room.id == current_room.id %}
                        <li class="current-room"><a>{{ room.name }}</a></li>
                    {% else %}
                        <li class="Room-name"><a href="{% url 'room' room.id %}">{{ room.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </aside>
    <p class="Messages-title">Messages du Salon</p>
    <section class="messages-list">
        <nav>
            <ul class="message-box">
                <!--
                {% for message in current_room.message_set.all %}
                    <li class="user">{{ message.user }}</li>
                    <li class="message">{{ message.message }}</li>
                    <li class="date">{{ message.date }}</li>
                {% endfor %}
                -->
                <br class="space">
                <br class="space">
            </ul>
        </nav>
    </section>
    <section class="fixed-buttons">
        <button class="add-room-button" id="add-room-button" title="Ajouter un salon de discussion"></button>
        <div>
            <input type="text" placeholder="Votre message..." name="message-text-field" id="msg-txt-field" maxlength="500">
            <button class="send-button" title="Envoyer le message"> </button>
        </div>
    </section>
    <section class="add-room-form">
        <form method="POST" id="add-room-form">
            <h2>Ajout de salon</h2>
            {% csrf_token %}
            <label for="enter-room-name"><p>Nom du salon</p></label>
            <input type="text" name="room-name" id="enter-room-name" placeholder="Nom..." maxlength="50">
            <label for="select-users"><p>Utilisateurs qui feront partie du salon</p></label>
            <input type="search" id="select-users" placeholder="Rechercher utilisateur...">
            <button type="submit" class="sign-up-button">Ajouter le salon</button>
            <button type="submit" class="add-room-button" id="cancel-button">Annuler</button>
        </form>
    </section>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}