{% extends "chatRoom/baseLayout.html" %}
{% block content %}
{% if user.is_authenticated %}
    Hi {{ user.username }}!
    <a href="{% url 'logout' %}">Log Out</a>
    <aside class="Room-list">
        <p>Salons de discussion</p>
        <nav>
            <ul>
                {% for room in user.room_set.all %}
                    <li>{{ room.name }}</li>
                {% endfor %}
            </ul>
        </nav>
    </aside>
    <section class="messages-list">
        {% for message in messages_in_room %}
            <li>{{ message.message }}</li>
        {% endfor %}
    </section>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}