{% extends "chatRoom/baseLayout.html" %}
{% load static %}
{% block content %}

<!-- Importing settings.js -->
    <script src="{% static 'chatRoom/js/settings.js' %}"></script>
    <!-- {% csrf_token %}
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script> -->


<header>
    <input type="hidden" id="user" name="user" value="{{ user.username }}">
    <input type="hidden" id="theme" name="theme" value="{{ user.theme }}">
    <h1 class="main-page-title"><a href="{% url 'login' %}">Chat Rooms</a></h1>
</header>

<body class="settings-body">
    <h2 style="width: 100%; text-align: center; font-family: Aharoni, sans-serif; margin-bottom: 2%; margin-top: 2%; font-size: 32px; color: var(--accent-color);">Options - <span style="color: var(--main-text-color);">{{ user.username }}</span></h2>
    
    <section class="settings-section1">

        <div class="settings-div-left">
            <h3 style="text-align: center;">Changer de nom d'utilisateur</h3> <br>
            <form method="post" id="change-username-form-big">
                {% csrf_token %}
                <script>
                    var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                </script>
                <label for="new-username">Pseudo actuel</label> <br>
                <input type="text" id="old-username-big" readonly name="new-username" placeholder="{{ user.username }}" value="{{ user.username }}" style="background-color: gray;"> <br>

                <label for="new-username">Nouveau pseudo</label> <br>
                <input type="text" id="new-username-big" required="" name="new-username"> <br>

                <label for="current-password">Mot de passe du compte</label> <br>
                <input type="password" id="password-big" required="" name="current-password"> <br>
                {% for message in messages %}
                    {% if 'changeUsernameFormSucess' in message.tags %}
                        <div class="alert alert-success">
                            <a class="close" href="#" data-dismiss="alert" style="text-decoration: none; font-size: small; font-family: sans-serif; color: green;">{{ message }}</a>
                        </div>
                    {% elif 'changeUsernameForm' in message.tags %}
                        <div class="alert alert-success">
                            <a class="close" href="#" data-dismiss="alert" style="text-decoration: none; font-size: small; font-family: sans-serif; color: red;">{{ message }}</a>
                        </div>
                    {% endif %}
                {% endfor %}

                <!-- <br> <br>
                <br> <br> -->

                <br>
                <div style="position: absolute; right: 0;"> <button type="submit" class="sign-in-button">Changer le pseudo</button> </div>
            </form>
        </div>
        <div class="settings-div-right">
            <h3 style="text-align: center;">Changer de mot de passe</h3> <br>
            <form method="post" id="change-password-form-big">
                {% csrf_token %}
                <script>
                    var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                </script>
                <label for="current-password">Votre mot de passe actuel</label> <br>
                <input type="password" id="current-password-big" required="" name="current-password"> <br>

                <label for="new-password">Nouveau mot de passe</label> <br>
                <input type="password" id="new-password-big" required="" name="new-password"> <br>

                <label for="confirm-new-password">Confirmer le nouveau mot de passe</label> <br>
                <input type="password" id="confirm-new-password-big" required="" name="confirm-new-password"> <br>
                {% for message in messages %}
                    {% if 'changePasswordFormSucess' in message.tags %}
                        <div class="alert alert-success">
                            <a class="close" href="#" data-dismiss="alert" style="text-decoration: none; font-size: small; font-family: sans-serif; color: green;">{{ message }}</a>
                        </div>
                    {% elif 'changePasswordForm' in message.tags %}
                        <div class="alert alert-success">
                            <a class="close" href="#" data-dismiss="alert" style="text-decoration: none; font-size: small; font-family: sans-serif; color: red;">{{ message }}</a>
                        </div>
                    {% endif %}
                {% endfor %}

                <br>
                <div style="position: absolute; right: 0;"> <button type="submit" class="sign-up-button" style="margin: 0;">Changer le mot de passe</button> </div>
            </form>
        </div>

    </section>

    <section>
        <div class="settings-div-middle">
            <h3 style="text-align: center; font-family: Aharoni, sans-serif;">Plus d'options</h3> <br>
            <li style="list-style: disc;">
                <label for="change-mode-button">Changer le thème du site: </label>
                <button name="change-mode-button" title="Mode clair/sombre" class="change-mode-button" style=" height: 50px; width: 50px; border-radius: 15px;" onclick="window.location.href='settings/changeTheme'"></button>
            </li>
            <li style="list-style: disc;">
                <label for="log-out-button">Se déconnecter: </label>
                <button name="log-out-button" onclick="window.location.href='/logout'" title="Se déconnecter" class="settings-log-out-button" style=" height: 50px; width: 50px; border-radius: 15px;"></button>
            </li>
            <li style="list-style: disc;">
                <label for="delete-account-button">Supprimer le compte: </label>
                <button name="delete-account-button" title="Vous êtes sûr de vouloir partir ? 😕" class="delete-account-button" style=" height: 50px; width: 50px; border-radius: 15px;"></button>
            </li>
            
            <br> <br>

            <li style="list-style: disc;">
                <a class="contact">Contacter les créateurs</a>
            </li>
        </div>
    </section>

    <section class="responsive-section">
        <div class="settings-div">
            <h3 style="text-align: center;">Changer de nom d'utilisateur</h3> <br>
            <form method="post" id="change-username-form-small">
                {% csrf_token %}
                <script>
                    var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                </script>
                <label for="new-username">Pseudo actuel</label> <br>
                <input type="text" id="old-username-small" readonly name="new-username" placeholder="{{ user.username }}" value="{{ user.username }}" style="background-color: gray;"> <br>

                <label for="new-username">Nouveau pseudo</label> <br>
                <input type="text" id="new-username-small" required="" name="new-username"> <br>

                <label for="current-password">Mot de passe du compte</label> <br>
                <input type="password" id="password-small" required="" name="current-password"> <br>
                {% for message in messages %}
                    {% if 'changeUsernameFormSucess' in message.tags %}
                        <div class="alert alert-success">
                            <a class="close" href="#" data-dismiss="alert" style="text-decoration: none; font-size: small; font-family: sans-serif; color: green;">{{ message }}</a>
                        </div>
                    {% elif 'changeUsernameForm' in message.tags %}
                        <div class="alert alert-success">
                            <a class="close" href="#" data-dismiss="alert" style="text-decoration: none; font-size: small; font-family: sans-serif; color: red;">{{ message }}</a>
                        </div>
                    {% endif %}
                {% endfor %}

                <div style="position: absolute; right: 0;"> <button type="submit" class="sign-in-button" style="margin: 0; font-size: 13px;">Changer le pseudo</button> </div>
            </form>
        </div>
        <br>
        <div class="settings-div">
            <h3 style="text-align: center;">Changer de mot de passe</h3> <br>
            <form method="post" id="change-password-form-small">
                {% csrf_token %}
                <script>
                    var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                </script>
                <label for="current-password">Votre mot de passe actuel</label> <br>
                <input type="password" id="current-password-small" required="" name="current-password"> <br>

                <label for="new-password">Nouveau mot de passe</label> <br>
                <input type="password" id="new-password-small" required="" name="new-password"> <br>

                <label for="confirm-new-password">Confirmer le nouveau mot de passe</label> <br>
                <input type="password" id="confirm-new-password-small" required="" name="confirm-new-password"> <br>

                {% for message in messages %}
                    {% if 'changePasswordFormSucess' in message.tags %}
                        <div class="alert alert-success">
                            <a class="close" href="#" data-dismiss="alert" style="text-decoration: none; font-size: small; font-family: sans-serif; color: green;">{{ message }}</a>
                        </div>
                    {% elif 'changePasswordForm' in message.tags %}
                        <div class="alert alert-success">
                            <a class="close" href="#" data-dismiss="alert" style="text-decoration: none; font-size: small; font-family: sans-serif; color: red;">{{ message }}</a>
                        </div>
                    {% endif %}
                {% endfor %}

                <div style="position: absolute; right: 0;"> <button type="submit" class="sign-up-button" style="margin: 0; font-size: 13px;">Changer le mot de passe</button> </div>
            </form>
        </div>
        <br>
        <div class="settings-div">
            <h3 style="text-align: center; font-family: Aharoni, sans-serif;">Plus d'options</h3> <br>
            <li style="list-style: disc;">
                <label for="change-mode-button">Changer le thème du site: </label>
                <button name="change-mode-button" title="Mode clair/sombre" class="change-mode-button" style=" height: 35px; width: 35px; border-radius: 15px;" onclick="window.location.href='settings/changeTheme'"></button>
            </li>
            <li style="list-style: disc;">
                <label for="log-out-button">Se déconnecter: </label>
                <button name="log-out-button" onclick="window.location.href='/logout'" title="Se déconnecter" class="settings-log-out-button" style=" height: 35px; width: 35px; border-radius: 15px;"></button>
            </li>
            <li style="list-style: disc;">
                <label for="delete-account-button">Supprimer le compte: </label>
                <button name="delete-account-button" title="Vous êtes sûr de vouloir partir ? 😕" class="delete-account-button" style=" height: 35px; width: 35px; border-radius: 15px;"></button>
            </li>

            <br>

            <li style="list-style: disc;">
                <a class="contact">Contacter les créateurs</a>
            </li>
        </div>

    </section>

    <div class="add-user-form" style="border: 3px solid red; height: fit-content; position: fixed;">
        <h2>Voulez-vous vraiment supprimer votre compte ?</h2>
        <div>
            <button class="sign-in-button" style="margin: 0; margin-right: 5px;" onclick="window.location.href='/deleteUser'">Oui</button>
            <button class="sign-up-button" id="Non" style="margin: 0; margin-left: 5px;">Non</button>
        </div>
    </div>

    <div class="contact-div" style="border: 3px solid var(--main-text-color); height: fit-content; position: fixed;">

        <p>Page <a href="https://github.com/Marc-Proux/ChatRooms">GitHub</a> du projet</p> <br>
        <p>E-mail Geryes: <span style="font-family: sans-serif;">geryes.doumit@uha.fr</span></p> <br>
        <p>E-mail Marc: <span style="font-family: sans-serif;">marc.proux@uha.fr</span></p> <br>
        
    </div>
</body>

{% endblock %}

